
/* .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
    margin-top: 100px;
  } */

.form-position{
  position: absolute;
  top: 54%;
  left: 67%;
  transform: translate(-50%, -50%);
  width: 1240px !important;
  max-width: 100% !important;
  overflow-x: hidden !important;

}

  
 .mat-form-field{
  width: 300px;
  
}
.fw1{
  font-weight: 500 !important;
}
.title-bar{
  margin-left: -12px !important;
  width: 86% !important;
  background-color: #608B89 !important;
}

.input-title{
  /* background-color: #c2cfd8; */
  background-color:#CED4DA;
}

.input-field{
  /* background-color: #f0fbff; */
  background-color: white;
}


mat-grid-tile{
  border: 1px solid  grey;
 


}

.pl-1{
  padding-left: 8% !important;
}

.btn-remove-image{
  position: absolute;
  cursor: pointer;
  top: -2px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 60%;
  width: 15px;
  height: auto;
  text-align: center;
    }

    .btn-selected-image{
      position: absolute;
      cursor: pointer;
      top: -9px;
      right: -5px;
      background-color: red;
      color: white;
      border-radius: 50%;
      width: 20px;
      height: auto;
      text-align: center;
        }
  



        