<!-- <app-dashboard></app-dashboard> -->


<ng-container>


  <div class="container mt-6">
    <div class="card w-80 p-5">

      <div class="row">

        <div class="col-6">
          <form #categoryForm="ngForm" (ngSubmit)="addCategory(categoryForm)">

            <!-- Category Name Field  -->

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Enter Category name</mat-label>
              <input matInput placeholder="Category name" [(ngModel)]="category.categoryName" name="categoryName"
                required>

              <!-- <mat-error *ngIf="categoryName.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>





            <!-- Checkbox Status Field  -->



            <!-- <mat-form-field>

            

            <mat-checkbox id="InActive" class="InActive" color="warn" style="margin-left: 20px;"
              formControlName="InActive">InActive</mat-checkbox>

          </mat-form-field> -->


            <!-- Button Field  -->

            <div class="mt-5" align="end">

              <button type="button" class="btn btn-outline-success float-start ">Back to list</button>

              <button type="submit" class="btn btn-outline-success ">Add Category</button>

            </div>

          </form>

        </div>

        <!-- Image Field  -->

        <div class="col-6">
          <p>Image space </p>

          <div>
            <button class="btn btn-primary btn-sm ">
              <input type="file" multiple value="select" #selectImage (change)="onImageSelected($event)" />

            </button>

          </div>

          <!--    Image Preview Field -->
          <div class="mt-5">

            <div class="row">

<mat-grid-list cols="4" rowHeight="1:1">
<mat-grid-tile *ngFor="let file of category.categoryImage">
<div style="position:relative">

  <span class="btn-remove-image"> x </span>
  <img [src]="file.url" width="70px" height="70px" >

</div>

</mat-grid-tile>

</mat-grid-list>
              
            </div>
          </div>

        </div>

      </div>


    </div>
  </div>
</ng-container>



<!--  Category Name Field      -->
<!-- <div class="row">
    <div class="col-lg-6 col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Enter Category name</mat-label>
        <input matInput placeholder="Category name" [formControl]="categoryName" required>
        <mat-error *ngIf="categoryName.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

  </div> -->