/* .container-fluid{
    width:75%;
    margin-top: 100px;
    margin-left: 300px;
} */

table {
    width: 100%;
  }

  .active{
    background: 'white'
}
  .mat-header-cell{
  
    background-color: #608b89;
    color: white;
    font-weight:200;
    font-family: arial, verdana, sans-serif;
    font-size:18px;
   }