
<app-dashboard></app-dashboard>
<div class="container-fluid"> 
<p>product-list works!</p>
<button [routerLink]="['/product']" >Add product</button>
<p>93
 I recently started implementing lazy loading in my application. I was wondering whether there is any way to create a routing.module.ts while generating a new module in angular-cli application other than creating it manually?So basically, there's no separate command to create routing.module file. But, that can be created while on the creation of the module:</p>
</div>