<!-- <div class="container mt-2"> -->

    <div class="p-1 fs-5 bg-primary  text-center text-white  ms-1 me-1 mt-1"> Price history..

      <button class="btn-dialog-close  " style="margin-left: 40%; margin-top: -3%;"  (click)="onClose()" mat mat-stroked-button tabindex="-1" >
        <mat-icon>clear </mat-icon>
    </button>
      
    </div>

       
  
      <div class="row bg-dark text-white pt-0 border border-light border-top-0 border-start-0 border-end-0 ms-1 me-1 " >
        <div class="col-md-6 pt-2">
            <span class="text-white text-nowrap">Category name :</span>

        </div>
        <div class="col-md-6 pt-2 txt">
            <span class="text-white text-nowrap">Mobiles</span>

        </div>
        </div>
        

       
        <div class="row bg-dark text-white pt-0 ms-1 me-1 ">
        <div class="col-md-6 pt-2">
          <span class="text-white text-nowrap">Product name :</span>

      </div>
      <div class="col-md-6 pt-2 txt">
          <span class="text-white text-nowrap">Apple</span>

      </div>
      </div>
      
        <form>
          <div class="  pt-0 ms-1 me-1 ">
      <ng-select  class="custom"
      placeholder="Select city"
      
         
         [searchable]="true" 
          [items]="cities" bindLabel="cityName" bindValue="cityId" style="text-transform:capitalize ;">
    </ng-select>
    </div>

  </form>
           

<mat-table [dataSource]="dataSource" class="mat-elevation-z8 ms-1 me-1 ">
    <!-- Position Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Product price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.productPrice}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container> -->
  
    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container> -->
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- <mat-paginator  [pageSize]="30" aria-label="Select page of GitHub search results"></mat-paginator> -->

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>


<!-- </div> -->