.txt{
    margin-left: -85px !important;
}

.title-2{
padding-top: 2px;
}
.space{
    margin-top: -3px !important;
}

.title-bar{
    background-color: black
   }

.mat-header-cell{
  
    background-color: #608b89;
    color: white;
    font-weight:200;
    font-family: arial, verdana, sans-serif;
    font-size:18px;
   }

   .ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 10px;
}
.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}