<!-- <p>dashboard works!</p> -->
<div class="p-2 bg-infos fixed-top">

    <!-- desktop start -->

    <div class="d-none d-xl-block">
        <div class="row">
            <div class="col-xl-6 col-xxl-6">
                <div id="mysidenav1" class="sidenav1 sidewidth">
                    <div class="row">
                        <div class="col-xl-6 col-xxl-6">
                            <div class="mt-3">
                                <a class="text-light ms-3 fs-5 text-decoration-none text-nowrap">Mangements</a>
                            </div>

                        </div>
                        <div class="col-xl-6 col-xxl-6 d-flex justify-content-end">
                            <a href="javascript:void(0)" class="closebtn text-light text-decoration-none mt-2"><i
                                    class="bi bi-x fs-2" onclick="closeNav1()"></i></a>
                        </div>

                    </div>

                    <div class="text-nowrap mt-5">

                        <li class="list-unstyled ms-3"><a class="text-light fs-5 text-decoration-none"
                            routerLink="/dashboard">Dashboard
                            </a></li>
                    <hr class="border border-light">

                    <li class="list-unstyled ms-3"><a class="text-light fs-5 text-decoration-none"
                        routerLink="/categoryList">Category
                        Management</a></li>
                <hr class="border border-light">

                        <li class="list-unstyled ms-3"><a class="text-light fs-5 text-decoration-none"
                                routerLink="/productList">Product
                                Management</a></li>
                        <hr class="border border-light">


                    </div>


                </div>
                <div id="main1" class="mt-2">
                    <span><i class="bi bi-list fs-4 text-light" onclick="openNav1()" style="cursor:pointer;"></i><span
                            class="ms-3 fs-5 text-light">Admin Panel</span></span>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-6 d-flex justify-content-end">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="text-nowrap mt-1">
                            <!-- <img src="images/service.jpg" class="img-fluid rounded-circle z-depth-0"
                                style="height: 50px; width: 50px"> -->
                            <span class="fs-6 text-light ps-3">Hi Guest</span>
                        </div>

                    </div>
                    <div class="col-xl-6 col-xxl-6 d-flex justify-content-end">
                        <div class="mt-2 me-2">
                            <button (click)="onLogout()"> Logout </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- desktop end -->





    <!-- responsive start -->
    <div class="d-block d-xl-none">
        <div id="mySidenav2" class="sidenav2 sidewidth2">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="mt-2">
                        <a class="text-light ms-3 fs-5 text-decoration-none text-nowrap">Mangements</a>
                    </div>

                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-end">
                    <a href="javascript:void(0)" class="closebtn text-light text-decoration-none mt-1"><i
                            class="bi bi-x fs-2" onclick="closeNav2()"></i></a>
                </div>


                <!-- <div class="text-nowrap mt-3 ms-2">
                    <img src="images/service.jpg" class="img-fluid rounded-circle z-depth-0" style="height: 50px; width: 50px"> 
                    <span class="fs-6 text-light ps-3">Hi Guest</span>
                </div> -->

                <div class="text-nowrap mt-3">
                    
                    <li class="list-unstyled ms-3"><a class="text-light fs-5 text-decoration-none"
                        routerLink="/dashboard">
                        Dashboard</a></li>
                <hr class="border border-light">

                <li class="list-unstyled ms-3"><a class="text-light fs-5 text-decoration-none" 
                    routerLink="/categoryList">Category
                    Management</a></li>
            <hr class="border border-light">

                    <li class="list-unstyled ms-3"><a class="text-light fs-5 text-decoration-none">Product
                            Management</a></li>
                    <hr class="border border-light">




                </div>


                <div class="ms-3 mt-1">
                    <!-- <span class="text-light"><i class="bi bi-box-arrow-right pe-2 fs-4"></i><span
                            class="fs-5">Logout</span></span> -->

                    <button (click)="onLogout()"> Logout </button>
                </div>

            </div>


        </div>

        <div id="main2">
            <span class="text-nowrap"><i class="bi bi-list fs-4 text-light" onclick="openNav2()"
                    style="cursor:pointer;"></i><span class="ms-3 fs-5 text-light">Admin Panel</span></span>
        </div>







    </div>
    <!-- responsive end -->


</div>



<!-- <span class="text-light"><i class="bi bi-box-arrow-right pe-2 fs-4"></i><span
    class="fs-5" (click)="logout()" >Logout</span></span> -->